
body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

[v-cloak] {
    visibility: hidden;
}

h1, h2 {
    margin-bottom: 10px;
}

.form {
    display: flex;
    margin: auto;
    max-width: 600px;
    flex-wrap: wrap;
}
.form > div {
    flex: 1;
    min-width: 280px;
    padding: 10px;
}

input, textarea {
    resize: vertical;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    font-size: 1.5rem;
    width: 100%;
}
input::placeholder, textarea::placeholder {
    font-size: 1rem;
}
input[type=number] {
    width: 100px;
}

.output {
    margin: 10px auto;
    background-color: #DDD;
    padding: 10px;
    font-size: 1rem;
    text-align: left;
}

.grid {
    border-collapse: collapse;
    margin: auto;
    margin-top: 30px;
    max-width: 600px;
    border: 2px solid black;
}
.grid .corner {
    font-size: 1.2rem;
    vertical-align: center;
    border: 2px solid black;
}
th, td {
    padding: 5px;
    width: 30px;
    height: 30px;
}
th {
    font-size: 1.1rem;
    border: 1px solid black;
}
thead th {
    border-bottom: 2px solid black;
}
tbody th {
    border-right: 2px solid black;
}

td {
    font-size: 1rem;
    text-align: center;
    border: 1px dotted gray;
}

.seed {
    font-size: 0.9rem;
}
.seed input {
    font-size: 0.9rem;
}